---
// library imports
import { Image } from "@astrojs/image/components";

// utils imports
import { slugify, formatDate } from "../js/utils";

const { category, title, author, date, image } = Astro.props;
---

<header class="mt-5 lg:mt-8">
  <div class="prose lg:prose-xl prose-headings:text-gray-800 prose-p:text-gray-500 max-w-prose mx-auto px-4 prose-strong:text-gray-600 prose-img:rounded-xl prose-ul:list-none prose-ul:pl-0 prose-li:pl-0">
    <small>
      <a href={`/category/${slugify(category)}/`} class="badge">{category}</a>
    </small>
    <h1 class="my-2">{title}</h1>
    <small>
      by <a href={`/author/${slugify(author)}/`}>{author}</a> • {
        formatDate(date)
      }
    </small>
  </div>
  <Image
    src={image.src}
    alt={image.alt}
    width="1200"
    aspectRatio={16/9}
    format="webp"
    class="mt-10 mb-6 w-full prose lg:prose-xl lg:rounded mx-auto shadow"
  />
</header>
